body{
	background-color: #8EC5FC;
	background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
	height: 100vh;
	max-height: 100%;
}

h1{
	color: white;
}

.task-view{
	height: 70vh;
	width: 60vw;
}

.i-am-groot{
	color: white;
	height: 58vh;
	margin-top: 5vh;
	overflow: scroll;
	overflow-x: hidden; /* Hide horizontal scrollbar */
	border-radius: 10px;
	background: #ffffff00;
	border-radius: 0.7em;
	backdrop-filter: blur(10px);
}

.bottom-pane{
	width:90vh;
}

.special-header{
	padding: 0.2rem 1rem;
	border-radius: 10px;
	background-color: #8EC5FC;
	background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.special-container{
	max-width: 30vw;
}

.special-header h1{
	margin: 0;
}

.mask-custom{
	background: rgba(174, 174, 146, .1);
	border-radius: 0.7em;
	backdrop-filter: blur(10px);
	border: 2px solid rgba(255, 255, 255, 0.05);
	box-shadow: 0px 0px 30px rgba(46, 54, 68, 0.23);
}         

.bigg{
	font-size: 4rem;
	margin-top: 10vh;
}

.cool-button {
	background-color: #8EC5FC;
	background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}
.cool-button{
	color:black;
	text-align: center;
	transition: 0.5s;
    background-size: 200% auto;
	color: white;            
	box-shadow: 0 0 20px #eeeeee33;
	border-radius: 5px;
	border: none;
}

.cool-button:hover {
	background-position: right center; /* change the direction of the change here */
	color: #fff;
	text-decoration: none;
}
 
/* width */
::-webkit-scrollbar {
  width: 10px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f111;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background-color: #8EC5FC;
	background-image: linear-gradient(260deg, #8EC5FC 0%, #E0C3FC 100%);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.row-style{
	margin-top: 0.5rem;
}

.header-row{
	background-color: #8EC5FC;
	background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
	margin-top: none;
	position: sticky:
}